<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Loja Virtual em ASP.NET">
    <meta name="author" content="Elias Ribeiro">
    <link rel="stylesheet" href="/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/resources/lib/pagelist.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">           

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-list-ul"></i> Produtos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Produto" asp-action="Index">Listagem</a>
                            <a class="dropdown-item" asp-controller="Produto" asp-action="Cadastrar">Add Produto</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ConfiguracaoLoja" asp-action="Cadastrar"><i class="far fa-address-book"></i> Configuração </a>
                    </li>
                </ul>

                <a class="nav-link" asp-controller="CarrinhoCompra" asp-action="Index"><i class="fas fa-shopping-cart"></i> Carrinho</a>

            </div>
        </nav>
    </header>
    <div>

        <br />
        <br />

        @RenderBody()
    </div>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - Loja Virtual </p>
    </footer>

    <script src="/resources/lib/holder/holder.min.js"></script>
    <script src="/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/js/Actions.js"></script>
    <script src="/resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/resources/lib/mask/jquery.mask.min.js"></script>
</body>
</html>
